web/libs/sapui5/downloads/schemas/sap.ui.vbm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="sap.ui.vbm" xmlns:n2="sap.ui.commons" xmlns:n1="sap.ui.layout" xmlns:n0="sap.ui.core" xmlns:n3="sap.ui.vbm">
<xsd:import namespace="sap.ui.commons"/>
<xsd:import namespace="sap.ui.layout"/>
<xsd:import namespace="sap.ui.core"/>
<xsd:element name="AnalyticMap" type="n3:_AnalyticMapType" substitutionGroup="n3:GeoMap">
<xsd:annotation>
<xsd:documentation>The AnalyticMap control.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Area" type="n3:_AreaType" substitutionGroup="n3:VoBase">
<xsd:annotation>
<xsd:documentation>Aggregation element for the Area container</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Areas" type="n3:_AreasType" substitutionGroup="n3:VoAggregation">
<xsd:annotation>
<xsd:documentation>Areas aggregation container</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Box" type="n3:_BoxType" substitutionGroup="n3:VoBase">
<xsd:annotation>
<xsd:documentation>Aggregation element for the Box container</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Boxes" type="n3:_BoxesType" substitutionGroup="n3:VoAggregation">
<xsd:annotation>
<xsd:documentation>Boxes aggregation container</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Circle" type="n3:_CircleType" substitutionGroup="n3:VoBase">
<xsd:annotation>
<xsd:documentation>Aggregation element for the Circle container</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Circles" type="n3:_CirclesType" substitutionGroup="n3:VoAggregation">
<xsd:annotation>
<xsd:documentation>Circles aggregation container</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Container" type="n3:_ContainerType" substitutionGroup="n3:VoBase">
<xsd:annotation>
<xsd:documentation>Aggregation element for the Container container</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Containers" type="n3:_ContainersType" substitutionGroup="n3:VoAggregation">
<xsd:annotation>
<xsd:documentation>Containers aggregation container</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="DragSource" type="n3:_DragSourceType" substitutionGroup="n0:Element">
<xsd:annotation>
<xsd:documentation>Aggregation element for DragSource</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="DropTarget" type="n3:_DropTargetType" substitutionGroup="n0:Element">
<xsd:annotation>
<xsd:documentation>Aggregation element for DropTarget </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="GeoCircle" type="n3:_GeoCircleType" substitutionGroup="n3:VoBase">
<xsd:annotation>
<xsd:documentation>Aggregation element for the GeoCircle container</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="GeoCircles" type="n3:_GeoCirclesType" substitutionGroup="n3:VoAggregation">
<xsd:annotation>
<xsd:documentation>GeoCircles aggregation container</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="GeoMap" type="n3:_GeoMapType" substitutionGroup="n3:VBI">
<xsd:annotation>
<xsd:documentation>Simple map with standard UI5 interface</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Legend" type="n3:_LegendType" substitutionGroup="n0:Element">
<xsd:annotation>
<xsd:documentation>The Legend is a window in the GeoMap or AnalyticMap control wich can be used to display color/icon-text pairs on a map.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="LegendItem" type="n3:_LegendItemType" substitutionGroup="n0:Element">
<xsd:annotation>
<xsd:documentation>Aggregation element for the Legend</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Pie" type="n3:_PieType" substitutionGroup="n3:VoBase">
<xsd:annotation>
<xsd:documentation>Aggregation element for the Pie container</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="PieItem" type="n3:_PieItemType" substitutionGroup="n0:Element">
<xsd:annotation>
<xsd:documentation>Aggregation element for the Pie</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Pies" type="n3:_PiesType" substitutionGroup="n3:VoAggregation">
<xsd:annotation>
<xsd:documentation>Pies aggregation container</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Region" type="n3:_RegionType" substitutionGroup="n0:Element">
<xsd:annotation>
<xsd:documentation>Region properties.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Resource" type="n3:_ResourceType" substitutionGroup="n0:Element">
<xsd:annotation>
<xsd:documentation>A resource is usually a bas64 representation of an image that can be referenced in a spot. When images are specified as a string resource it is guaranteed that the control can access the bits in the image. A resource is referenced by its name.
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Route" type="n3:_RouteType" substitutionGroup="n3:VoBase">
<xsd:annotation>
<xsd:documentation>Aggregation element for the Route container</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Routes" type="n3:_RoutesType" substitutionGroup="n3:VoAggregation">
<xsd:annotation>
<xsd:documentation>Routes aggregation container</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Spot" type="n3:_SpotType" substitutionGroup="n3:VoBase">
<xsd:annotation>
<xsd:documentation>Aggregation element for the Spot container</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Spots" type="n3:_SpotsType" substitutionGroup="n3:VoAggregation">
<xsd:annotation>
<xsd:documentation>Spots aggregation container</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="VBI" type="n3:_VBIType" substitutionGroup="n0:Control">
<xsd:annotation>
<xsd:documentation>The VBI control.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="VoAggregation" type="n3:_VoAggregationType" substitutionGroup="n0:Element">
<xsd:annotation>
<xsd:documentation>Abstract VO aggregation container</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="VoBase" type="n3:_VoBaseType" substitutionGroup="n0:Element">
<xsd:annotation>
<xsd:documentation>Aggregation element for the Spot container</xsd:documentation>
</xsd:annotation>
</xsd:element>
<!--type definition for UIElement 'sap.ui.vbm.AnalyticMap'-->
<xsd:complexType name="_AnalyticMapType">
<xsd:complexContent>
<xsd:extension base="n3:_GeoMapType">
<xsd:sequence>
<xsd:element name="regions" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Region properties that are different from the defaults. It is possible to specify the tooltip or color for regions. A region code must match the GeoJSON id2 identifier.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="n3:Region" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="legendVisible" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation>toggle the visibility of the legend</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="scaleVisible" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation>set the visibility of the scale</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="regionClick" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a  click or a tap on a region.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="regionContextMenu" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a  right click or a tap and hold action on a region.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.Area'-->
<xsd:complexType name="_AreaType">
<xsd:complexContent>
<xsd:extension base="n3:_VoBaseType">
<xsd:attribute name="position" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The position array for the Area.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="color" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The fill color of the Area.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="colorBorder" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The border color of the Area.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="click" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a click action on an Area.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="contextMenu" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a right click or a tap and hold action on an Area.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="edgeClick" type="xsd:string">
<xsd:annotation>
<xsd:documentation>This event is raised when the edge of an Area is clicked.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="edgeContextMenu" type="xsd:string">
<xsd:annotation>
<xsd:documentation>This event is raised when the edge of an Area is right clicked.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="drop" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when something is dropped on an Area.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.Areas'-->
<xsd:complexType name="_AreasType">
<xsd:complexContent>
<xsd:extension base="n3:_VoAggregationType">
<xsd:sequence>
<!--default aggregation 'items'-->
<xsd:element ref="n3:Area" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="items" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Area object aggregation</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="n3:Area" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="click" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a click action on an Area.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="contextMenu" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a  right click or a tap and hold action on an Area.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="edgeClick" type="xsd:string">
<xsd:annotation>
<xsd:documentation>This event is raised when the edge of an Area is clicked.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="edgeContextMenu" type="xsd:string">
<xsd:annotation>
<xsd:documentation>This event is raised when the edge of an Area is right clicked.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="drop" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when something is dropped on an Area.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.Box'-->
<xsd:complexType name="_BoxType">
<xsd:complexContent>
<xsd:extension base="n3:_VoBaseType">
<xsd:attribute name="position" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The position of the Box.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="scale" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The scale of the box.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="color" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The color of the box.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="colorBorder" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The border color of the box.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="click" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a click action on a Box.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="contextMenu" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a  right click or a tap and hold action on a Box.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="drop" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when something is dropped on a Box.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.Boxes'-->
<xsd:complexType name="_BoxesType">
<xsd:complexContent>
<xsd:extension base="n3:_VoAggregationType">
<xsd:sequence>
<!--default aggregation 'items'-->
<xsd:element ref="n3:Box" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="items" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Box object aggregation</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="n3:Box" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="click" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a click action on a Box.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="contextMenu" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a right click or a tap and hold action on a Box.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="drop" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when something is dropped on a Box.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.Circle'-->
<xsd:complexType name="_CircleType">
<xsd:complexContent>
<xsd:extension base="n3:_VoBaseType">
<xsd:attribute name="position" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The position of the circle.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="radius" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The pixel radius of the circle.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="color" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The color of the circle.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="colorBorder" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The border color of the circle.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="slices" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Number of circle slices. The property is required only when the PlugIn is used.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="click" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a click action on a Circle.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="contextMenu" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a right click or a tap and hold action on a Circle.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="drop" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when something is dropped on a Circle.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.Circles'-->
<xsd:complexType name="_CirclesType">
<xsd:complexContent>
<xsd:extension base="n3:_VoAggregationType">
<xsd:sequence>
<!--default aggregation 'items'-->
<xsd:element ref="n3:Circle" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="items" minOccurs="0">
<xsd:annotation>
<xsd:documentation>circle object aggregation</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="n3:Circle" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="click" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a click action on a Circle</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="contextMenu" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a  right click or a tap and hold action on a Circle.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="drop" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when something is dropped on a Circle.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.Container'-->
<xsd:complexType name="_ContainerType">
<xsd:complexContent>
<xsd:extension base="n3:_VoBaseType">
<xsd:sequence>
<xsd:element name="item" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The control that should be placed in the container.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:choice minOccurs="0">
<xsd:element ref="n0:Control" minOccurs="0"/>
<xsd:any processContents="lax" namespace="http://www.w3.org/1999/xhtml"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="position" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The position array for the Container.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="alignment" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Alignment of the element to its Position:
0: center
1: top center
2: top right
3: center right
4: bottom right
5: bottom center
6: bottom left
7: center left
8: top left</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="click" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a click action on a Container.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="contextMenu" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a  right click or a tap and hold action on a Container.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.Containers'-->
<xsd:complexType name="_ContainersType">
<xsd:complexContent>
<xsd:extension base="n3:_VoAggregationType">
<xsd:sequence>
<!--default aggregation 'items'-->
<xsd:element ref="n3:Container" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="items" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Container object aggregation</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="n3:Container" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="click" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a click action on a Container.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="contextMenu" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a  right click or a tap and hold action on a Container.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.DragSource'-->
<xsd:complexType name="_DragSourceType">
<xsd:complexContent>
<xsd:extension base="n0:_ElementType">
<xsd:attribute name="type" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Drag type</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.DropTarget'-->
<xsd:complexType name="_DropTargetType">
<xsd:complexContent>
<xsd:extension base="n0:_ElementType">
<xsd:attribute name="type" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Drop type</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.GeoCircle'-->
<xsd:complexType name="_GeoCircleType">
<xsd:complexContent>
<xsd:extension base="n3:_VoBaseType">
<xsd:attribute name="position" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The position of the geocircle.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="colorBorder" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The border color of the geocirle.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="radius" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The radius in meters of the geocirle.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="color" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The color of the geocirle.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="slices" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The number of slices of the geocircle.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="click" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a click action on a GeoCircle.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="contextMenu" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a  right click or a tap and hold action on a GeoCircle.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="drop" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when something is dropped on a GeoCircle.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.GeoCircles'-->
<xsd:complexType name="_GeoCirclesType">
<xsd:complexContent>
<xsd:extension base="n3:_VoAggregationType">
<xsd:sequence>
<!--default aggregation 'items'-->
<xsd:element ref="n3:GeoCircle" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="items" minOccurs="0">
<xsd:annotation>
<xsd:documentation>GeoCircle object aggregation</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="n3:GeoCircle" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="click" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a click action on a GeoCircle.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="contextMenu" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a  right click or a tap and hold action on a GeoCircle.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="drop" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when something is dropped on a GeoCircle.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.GeoMap'-->
<xsd:complexType name="_GeoMapType">
<xsd:complexContent>
<xsd:extension base="n3:_VBIType">
<xsd:sequence>
<!--default aggregation 'vos'-->
<xsd:element ref="n3:VoAggregation" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="vos" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Aggregation of visual object types.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="n3:VoAggregation" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="resources" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Aggregation of resources. The images of different spots have to be provided in the resources section. Binary resources data like images is pecified as a base64 encoded text.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="n3:Resource" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="legend" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Legend for the Map</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="n3:Legend" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="mapConfiguration" type="xsd:string">
<xsd:annotation>
<xsd:documentation>This is the map configuration for the geo map. The map configuration defines the used maps, the layering of the maps and the servers that can be used to request the map tiles.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="legendVisible" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation>Toggles the visibility of the legend</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="scaleVisible" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation>Toggles the visibility of the scale. Only supported on initialization!</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="navcontrolVisible" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation>Toggles the visibility of the navigation control. Only supported on initialization!</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="initialPosition" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Initial position of the Map. Only supported on initialization!
Format is "&lt;longitude&gt;;&lt;latitude&gt;;0".</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="initialZoom" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Initial zoom. Value needs to be positive whole number. Only supported on initialization!</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="click" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Raised when the map is clicked.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="contextMenu" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Raised when the map is right clicked/longPress(tap and hold).</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="drop" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Raised when something is dropped on the map.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.Legend'-->
<xsd:complexType name="_LegendType">
<xsd:complexContent>
<xsd:extension base="n0:_ElementType">
<xsd:sequence>
<!--default aggregation 'items'-->
<xsd:element ref="n3:LegendItem" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="items" minOccurs="0">
<xsd:annotation>
<xsd:documentation>LegendItem object aggregation</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="n3:LegendItem" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="caption" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The caption of the legend.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.LegendItem'-->
<xsd:complexType name="_LegendItemType">
<xsd:complexContent>
<xsd:extension base="n0:_ElementType">
<xsd:attribute name="color" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The color of the legend marker.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="image" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The image for the legend marker.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="text" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The text of the legend item.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.Pie'-->
<xsd:complexType name="_PieType">
<xsd:complexContent>
<xsd:extension base="n3:_VoBaseType">
<xsd:sequence>
<!--default aggregation 'items'-->
<xsd:element ref="n3:PieItem" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="items" minOccurs="0">
<xsd:annotation>
<xsd:documentation>PieItem object aggregation. A PieItem holds the data for one slice in a Pie.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="n3:PieItem" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="position" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The position of the Pie.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="scale" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The scaling of the Pie. The scale must be a vector, currently only the x scaling is applied to the Pie.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="click" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a click action on a Pie.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="contextMenu" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a  right click or a tap and hold action on a Pie.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="drop" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when something is dropped on a Pie.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.PieItem'-->
<xsd:complexType name="_PieItemType">
<xsd:complexContent>
<xsd:extension base="n0:_ElementType">
<xsd:attribute name="name" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The name of the Pie item.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="value" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The value of the Pie item.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="click" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a click action on a pie item.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.Pies'-->
<xsd:complexType name="_PiesType">
<xsd:complexContent>
<xsd:extension base="n3:_VoAggregationType">
<xsd:sequence>
<!--default aggregation 'items'-->
<xsd:element ref="n3:Pie" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="items" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Pie object aggregation</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="n3:Pie" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="click" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a click action on a Pie.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="contextMenu" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a  right click or a tap and hold action on a Pie.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="drop" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when something is dropped on a Pie.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.Region'-->
<xsd:complexType name="_RegionType">
<xsd:complexContent>
<xsd:extension base="n0:_ElementType">
<xsd:attribute name="color" type="n0:_CSSColorType">
<xsd:annotation>
<xsd:documentation>The color, this must be provided in the rgba(r,g,b,a) format.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="code" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The region code.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="click" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a click action on a region.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="contextMenu" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a  right click or a tap and hold action on a region.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.Resource'-->
<xsd:complexType name="_ResourceType">
<xsd:complexContent>
<xsd:extension base="n0:_ElementType">
<xsd:attribute name="value" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Value of the resource.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="src" type="xsd:string">
<xsd:annotation>
<xsd:documentation>URL to an image. It is important that the image data is readable fom the visual business control. Therefore e.g. images coming from a local drive or cross domains are not allowed. The preferred way is to use the base 64 encoded data provided using the value property.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="name" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Name of the resource. The name should be always 
used when a resource is referenced.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.Route'-->
<xsd:complexType name="_RouteType">
<xsd:complexContent>
<xsd:extension base="n3:_VoBaseType">
<xsd:sequence>
<xsd:element name="dragSource" minOccurs="0">
<xsd:annotation>
<xsd:documentation>DragSource aggregation</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="n3:DragSource" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="dropTarget" minOccurs="0">
<xsd:annotation>
<xsd:documentation>DropTarget aggregation</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="n3:DropTarget" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="position" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The position array of the route.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="color" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The color of the route.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="start" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The start point type of the route.  0: no startpoint 1: arrow as startpoint</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="end" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The end point type of the route. 0: no endpoint 1: arrow as endpoint</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="linewidth" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The width of the route line.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="dotcolor" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The color for the line dots of a route. </xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="dotbordercolor" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The border color of the line dots of a route.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="dotwidth" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The diameter of a dot in a route.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="click" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a click action on a Route.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="contextMenu" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a  right click or a tap and hold action on a Route.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="drop" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when something is dropped on a Route.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.Routes'-->
<xsd:complexType name="_RoutesType">
<xsd:complexContent>
<xsd:extension base="n3:_VoAggregationType">
<xsd:sequence>
<!--default aggregation 'items'-->
<xsd:element ref="n3:Route" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="items" minOccurs="0">
<xsd:annotation>
<xsd:documentation>route object aggregation</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="n3:Route" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="dragSource" minOccurs="0">
<xsd:annotation>
<xsd:documentation>DragSource aggregation</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="n3:DragSource" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="dropTarget" minOccurs="0">
<xsd:annotation>
<xsd:documentation>DropTarget aggregation</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="n3:DropTarget" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="click" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a click action on a Route.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="contextMenu" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a  right click or a tap and hold action on a Route.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="drop" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when something is dropped on a Route.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.Spot'-->
<xsd:complexType name="_SpotType">
<xsd:complexContent>
<xsd:extension base="n3:_VoBaseType">
<xsd:sequence>
<xsd:element name="dragSource" minOccurs="0">
<xsd:annotation>
<xsd:documentation>DragSource aggregation</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="n3:DragSource" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="dropTarget" minOccurs="0">
<xsd:annotation>
<xsd:documentation>DropTarget aggregation</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="n3:DropTarget" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="position" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The position of the spot.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="text" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The text that is displayed in the spot. The text should not exceed  a few characters.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="image" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The image for the spot. This must be a reference to a resource.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="alignment" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Alignment of the element to its Position:
0: center
1: top center
2: top right
3: center right
4: bottom right
5: bottom center
6: bottom left
7: center left
8: top left</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="scale" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The scale of the spot.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="click" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a click action on a Spot.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="contextMenu" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a  right click or a tap and hold action on a Spot.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="drop" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when something is dropped on a Spot.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.Spots'-->
<xsd:complexType name="_SpotsType">
<xsd:complexContent>
<xsd:extension base="n3:_VoAggregationType">
<xsd:sequence>
<!--default aggregation 'items'-->
<xsd:element ref="n3:Spot" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="items" minOccurs="0">
<xsd:annotation>
<xsd:documentation>spot object aggregation</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="n3:Spot" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="dragSource" minOccurs="0">
<xsd:annotation>
<xsd:documentation>DragSource aggregation</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="n3:DragSource" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="dropTarget" minOccurs="0">
<xsd:annotation>
<xsd:documentation>DropTarget aggregation</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="n3:DropTarget" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="click" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a click action on a Spot.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="contextMenu" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a  right click or a tap and hold action on a Spot.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="drop" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when something is dropped on a Spot.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.VBI'-->
<xsd:complexType name="_VBIType">
<xsd:complexContent>
<xsd:extension base="n0:_ControlType">
<xsd:attribute name="width" type="n0:_CSSSizeType">
<xsd:annotation>
<xsd:documentation>Set the width of the control.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="height" type="n0:_CSSSizeType">
<xsd:annotation>
<xsd:documentation>Set the height of the control.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="config" type="xsd:string">
<xsd:annotation>
<xsd:documentation>This is the model configuration. Usually the Visual Business application is provided by this property. Nevertheless the property can be used for data binding to the inner Visual Business data model.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="plugin" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation>When true, the plugin version of Visual Business should be used. </xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="submit" type="xsd:string">
<xsd:annotation>
<xsd:documentation>High level API. Submit event is raised. </xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="render" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Low level API. Rendering of the canvas content is reqested. This event can be used to do custom rendering into the Visual Business overlay canvas.

This function is not supported in plugin mode.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="zoom" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Low level API. The canvas is zoomed.

This function is not supported in plugin mode.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="move" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Low level API. The canvas was moved.

This function is not supported in plugin mode.
</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="openWindow" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised raised before a Visual Business window is opened.

This function is not supported in plugin mode.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="closeWindow" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised raised before a Visual Business window is closed.

This function is not supported in plugin mode.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.VoAggregation'-->
<xsd:complexType name="_VoAggregationType">
<xsd:complexContent>
<xsd:extension base="n0:_ElementType">
<xsd:attribute name="handleMoved" type="xsd:string">
<xsd:annotation>
<xsd:documentation>This event is raised when the design handle of a changable Area is moved.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="handleContextMenu" type="xsd:string">
<xsd:annotation>
<xsd:documentation>This event is raised when the design handle of a changable Area is right clicked.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="handleClick" type="xsd:string">
<xsd:annotation>
<xsd:documentation>This event is raised when the design handle of a changable Area is clicked.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.ui.vbm.VoBase'-->
<xsd:complexType name="_VoBaseType">
<xsd:complexContent>
<xsd:extension base="n0:_ElementType">
<xsd:attribute name="hotScale" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Scaling factor when visual object is hovered.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="hotDeltaColor" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Color shift when visual object is hovered.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="selectColor" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Color when visual object is selected. This can be explicit or a relative one.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="fxsize" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The visual object should keep its size when the map is zoomed. Default value is 'true'</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="fxdir" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The visual object is not rotated when the map is rotated. The property is only required when the PlugIn is used.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="entity" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The visual object builds an entity with other vos when it is hovered. The property is not supported when the PlugIn is used.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="labelText" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The visual objects label text.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="labelBgColor" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The visual objects label background color. The default value is white.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="labelPos" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The visual objects label position.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="changeable" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation>Set to true if vo is changeable.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="dragData" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Data to be dragged.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="click" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a click action on a visual object.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="contextMenu" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The event is raised when there is a  right click or a tap and hold action on a visual object.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="handleMoved" type="xsd:string">
<xsd:annotation>
<xsd:documentation>This event is raised when the design handle of a changable Area is moved.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="handleContextMenu" type="xsd:string">
<xsd:annotation>
<xsd:documentation>This event is raised when the design handle of a changable Area is right clicked.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="handleClick" type="xsd:string">
<xsd:annotation>
<xsd:documentation>This event is raised when the design handle of a changable Area is clicked.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:schema>
